.display-container {
  background-color: rgb(226, 222, 222);
  height: 150px;
  width: 800px;
}

.list {
  height: 60px;
  width: 800px;
  border-radius: 15px;
  border: 1px solid rgb(235, 233, 233);
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin: 20px;
  padding: 20px;
}
